<form method="POST" {{on "submit" this.onFormSubmit}} ...attributes>
  {{#if (has-block)}}
    {{yield to="header"}}
  {{/if}}
  <JsonSchemaForm::FormField
    @data={{@data}}
    @dataSchema={{@dataSchema}}
    @elementSchema={{@elementSchema}}
    @formId={{this.formId}}
    @onValueChange={{this.onValueChange}}
    @onValueInitialized={{this.onValueInitialized}}
  />
  {{#if (has-block)}}
    {{yield to="footer"}}
  {{else}}
    <button type="submit">{{this.submitButtonText}}</button>
  {{/if}}
</form>