<div class="text-widget" ...attributes>
  <DynamicForm::Widgets::WidgetMetadata
    @description={{@description}}
    @formFieldId={{this.formFieldId}}
    @title={{@title}}
  />
  <input
    id={{this.inputId}}
    name={{@name}}
    value={{@data}}
    {{on "input" this.onValueChange}}
    class="text-widget__input">
</div>