<div class="text-widget" ...attributes>
  <DynamicForm::Widgets::WidgetMetadata
    @description={{@data.description}}
    @formFieldId={{this.formFieldId}}
    @title={{@data.title}}
  />
  <input
    id={{this.inputId}}
    name={{@name}}
    value={{this.value}}
    class="text-widget__input">
</div>