<div class="text-widget" ...attributes>
  <JsonSchemaForm::Widgets::WidgetMetadata
    @description={{@description}}
    @formFieldId={{this.formFieldId}}
    @title={{@title}}
  />
  {{#if @errorMessage}}
    <p>{{@errorMessage}}</p>
  {{/if}}
  <input
    id={{this.inputId}}
    name={{@name}}
    value={{@value}}
    {{on "input" this.onValueChange}}
    class="text-widget__input">
</div>