<div class="text-widget" ...attributes>
  <JsonSchemaForm::Widgets::WidgetMetadata
    @description={{@description}}
    @formElementId={{this.formElementId}}
    @isRequired={{@isRequired}}
    @title={{@title}}
  />
  <input
    id={{this.formElementId}}
    name={{@name}}
    placeholder={{@placeholder}}
    type={{this.type}}
    value={{@value}}
    class="text-widget__input"
    {{on "input" this.onValueChange}}>
  {{#if @errorMessage}}
    <p>{{@errorMessage}}</p>
  {{/if}}
</div>