<div class="text-widget" ...attributes>
  <JsonSchemaForm::Widgets::WidgetMetadata
    @description={{@description}}
    @formElementId={{this.formElementId}}
    @title={{@title}}
  />
  <input
    id={{this.formElementId}}
    name={{@name}}
    value={{@value}}
    {{on "input" this.onValueChange}}
    class="text-widget__input">
  {{#if @errorMessage}}
    <p>{{@errorMessage}}</p>
  {{/if}}
</div>