{{page-title "ember-dynamic-form"}}

<h2 id="title">ember-dynamic-form</h2>

<DynamicForm
  @data={{this.data}}
  @dataSchema={{this.dataSchema}}
  @elementSchema={{this.elementSchema}}
  @onFormSubmit={{this.onFormSubmit}}>
  <:header>
    <button type="submit">Give me your data</button>
  </:header>

  {{! This is needed otherwise (has-block) will not return the correct value}}
  <:default></:default>
</DynamicForm>