{{page-title "ember-json-schema-form"}}

<h2 id="title">ember-json-schema-form</h2>

<JsonSchemaForm
  @data={{this.data}}
  @dataSchema={{this.dataSchema}}
  @dataTypeSchema={{this.dataTypeSchema}}
  @elementSchema={{this.elementSchema}}
  @onFormSubmit={{this.onFormSubmit}}
  @widgets={{this.widgets}}>
  <:footer>
    <button type="submit">Give me your data</button>
  </:footer>

  {{! This is needed otherwise (has-block) will not return the correct value}}
  <:default></:default>
</JsonSchemaForm>