{{page-title "ember-dynamic-form"}}

<h2 id="title">ember-dynamic-form</h2>

<DynamicForm
  @data={{this.data}}
  @dataSchema={{this.dataSchema}}
  @elementSchema={{this.elementSchema}}
  @onFormSubmit={{this.onFormSubmit}}/>